
    <!-- start footer Area -->
    <footer class="footer-area aquablue-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                       <a href="http://tensix.com"><img src="assets/images/tensix_partner_color_sized.png"></a>
                       <a href="https://www.oracle.com/industries/construction-engineering/"><img src="assets/images/Oracle-gold-partner-300x99.png"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h4>Using Primavera</h4>
			<p>is registerred under UK0000328402 and is the trading name and registerred trademark of Workpattern Limited.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <h4>Workpattern Limited</h4>
			<p>44 Farnesdown Drive<br>Wokingham<br>Berkshire<br>RG41 1LD<br><br>Registered in England & Wales<br>Company Number: 08707428</p>
                    </div>
                </div>
            </div>
            <div class="footer-bottom row justify-content-center mt-70">
                <p class="footer-text m-0 col-lg-6 col-md-12">{{ site.copyright_text }}
                    <a href="{{ site.company_url }}">{{ site.name }}</a>
                </p>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->
