
    <script src="{{ 'assets/js/vendor/jquery-2.2.4.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/popper.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/vendor/bootstrap.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/vendor/jquery.vide.min.js' | relative_url }}"></script>
    <script src="//maps.googleapis.com/maps/api/js?key={{ site.map }}"></script>
    <script src="{{ 'assets/js/easing.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/superfish.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/jquery.ajaxchimp.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/owl.carousel.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/mail-script.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
