<h5 class="mb-3">More About Us</h5>

<p>Hi! We've collected links about us and to our important legal documents here.</p>

<a target="_blank" href="{{ site.baseurl }}/about.html" class="btn btn-info d-block mb-2"><i class="fa fa-address-card"></i> About</a>

<a target="_blank" href="{{ site.baseurl }}/privacy-policy.html" class="btn btn-warning d-block mb-2"><i class="fa fa-user-shield"></i> Privacy</a>

<a target="_blank" class="btn btn-danger d-block" href="{{ site.baseurl }}/terms-of-use.html"><i class="fa fa-file-signature"></i> Terms of Use</a> 